{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      }
    }
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended"
  ],
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "import/order": ["error", { "pathGroupsExcludedImportTypes": [] }],
    "react/jsx-props-no-spreading": "off",
    "jsx-no-lambda": 0,
    "import/no-extraneous-dependencies": "off",
    "import/no-anonymous-default-export": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-children-prop": "off",
    "react/prop-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
